inst/doc
src/Makevars
src/Makevars.win
autom4te.cache/*
doc
Meta
.RData
*.Rproj
.Rproj.user
.Rhistory
.Rprofile
.Renviron
.project
.settings
*.tex
*.aux
*.log
*.pdf
*.out
*.o
*.so
*.gz
*.status
*.dll
*.Rcheck
*.gcno
.positai
covr
/doc/
/Meta/
